.bg-AddTransport {
    background-image: url('../../../../assets/img/AddTransport.png');
    height: calc(100vh - 80px);
    position: fixed;
    width: 100vw;
    bottom: 0;
    background-size: cover;
    background-position: bottom;
}