<form [formGroup]="LoginForm">
  <div class="flex flex-col md:flex-row">
    <div class="h-32 md:h-auto md:w-1/2">
      <img class="object-cover w-fit h-fit rounded-2xl" src="assets/img/login.png" alt="img" />
    </div>
    <div class="flex items-center justify-center p-6 sm:p-12 md:w-1/2">
      <div class="w-full">
        <div class="flex justify-center">
          <img src="assets/svgs/logo.svg" alt="" class="w-[150px] rounded-3xl">
        </div>
        <div class="mt-4">
          <span class="font-semibold text-base leading-5 flex items-start "> Email :</span>
          <div class=" rounded-lg bg-white px-4 py-1 shadow-md flex items-center gap-4">
            <img src="assets/img/Email.png " class="text-rose-500">
            <input type="text" class="form-control outline-none w-full h-8" formControlName="email"
              (keyup)="keyup($event)">

          </div>
          <div *ngIf="Mailexist ==false">
            <span class="font-semibold text-xs leading-5 text-rose-500">
              Email doesn't exist !</span>
          </div>
          <div *ngIf="email.invalid
                                    && (email.dirty || email.touched)">
            <span class="font-semibold text-xs leading-5 text-rose-500" *ngIf="email.errors['required']">
              Email is Required !</span>
            <span class="font-semibold text-xs leading-5 text-rose-500" *ngIf="email.errors['pattern']">
              Email is Invalid !</span>
          </div>
          <div class="mt-4 ">
            <span class="font-semibold text-base leading-5 flex items-start "> Password :</span>
            <div class=" rounded-lg bg-white px-4 py-1 shadow-md flex items-center gap-4">
              <img src="assets/img/pass.png " class="text-rose-500 ml-3">
              <input type="password" class="form-control outline-none h-8" formControlName="password">
            </div>
          </div>
          <div class="mt-4 text-center">
            <p class="text-sm"><a href="#" class="text-blue-500 hover:underline font-bold"> Forgot Password ?</a></p>
          </div>
          <button class=" verif-button block w-full px-4 py-2 mt-4 leading-5 text-center" (click)="login()">
            Log In
          </button>
          <button class=" primary-button block w-full px-4 py-2 mt-4 leading-5 text-center "
            [routerLink]="['/Dashboard']" (click)="dashboard()">
            Create new Account
          </button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <p-dialog header="An Error has acquired ! " [(visible)]="ConfirmModal" [modal]="true"
      [style]="{width: '35vw'}" [baseZIndex]="10000" [draggable]="false" [resizable]="false">

      <div class="p-6 text-center">
        <svg aria-hidden="true" class="mx-auto mb-4 w-14 h-14 text-gray-400 dark:text-gray-200" fill="none"
          stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
        </svg>
        <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400"> Please Verify your data ! </h3>
        <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400"> Check your Email validation ! </h3>
        <button type="button" (click)="ConfirmModal=false"
          class="primary-button hover:bg-rose-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2"
          id="bouton">
          Next Step
        </button>
      </div>
    </p-dialog>
  </div>
</form>