<div class="flex flex-col mt-28 bg-cover bg-bottom " style="background-image: url(assets/img/becomeCl.png)" >
    <div class="flex justify-center mt-60 w-full gap-8 p-4 text-2xl">
    </div>
    <div class="-mt-40 flex flex-col p-4 ">
        <div class="w-2/5  text-white text-7xl font-bold leading-snug " >BECOME AN 
            ADVENTURER
        </div>
    </div>
    <div class=" p-8 z-10">
        <button class="primary-button" [routerLink]="['/addClient']"> SIGN UP NOW !</button>
    </div>
</div>
<div class="flex flex-col mt-8 bg-cover bg-bottom " style="background-image: url(assets/img/becomeCom.png)" >
    <div class="flex justify-center mt-64 z-10 w-full gap-8 p-4 text-2xl">
    </div>
    <div class="-mt-40 flex flex-col p-4 z-10">
        <div class="w-2/5 text-white text-7xl font-bold leading-snug " >BECOME A 
            MARCHANT
        </div>
    </div>
    <div class=" p-8 z-10">
        <button class="primary-button w-52 h-10" [routerLink]="['/addCommercant']"> SIGN UP NOW !</button>
    </div>
</div>
<div class="flex flex-col mt-8 bg-cover bg-bottom " style="background-image: url(assets/img/becomeHost.png)" >
    <div class="flex justify-center mt-64 z-10 w-full gap-8 p-4 text-2xl">
    </div>
    <div class="-mt-40 flex flex-col p-4 z-10">
        <div class="w-2/5  text-white text-7xl font-bold leading-snug " >BECOME AN 
            HOST
        </div>
    </div>
    <div class=" p-8 z-10">
        <button class="primary-button" [routerLink]="['/addHost']"> SIGN UP NOW !</button>
    </div>
</div>