<ng-container *ngIf="activity">
    <button class=" bg-white rounded-2xl font-bold text-red-500 items-start border-red-500 w-fit pl-11 pr-11 h-9 border-1"
        (click)="displayActivity=true">{{activity.title}}</button>
    <p-dialog [(visible)]="displayActivity" class="SpecificModal flex rounded-3xl w-[450px]"  header="Activity" [modal]="true" [baseZIndex]="10000"
    [draggable]="false" [resizable]="false">
        <div class=" flex items-center justify-start ml-4 ">
            <div class=" w-full">
                <div class="mt-4">
                    <span class="font-semibold text-base leading-5 flex items-start mb-2 ">
                        Activity title :</span>
                    <div class=" rounded-lg GreColor px-4 py-1 shadow-md flex items-center gap-4 w-[590px] h-7">
                        <input type="text" class="form-control outline-none w-full h-5 bg-inherit"
                            [(ngModel)]="activity.title">
                    </div>
                    <span class="font-semibold text-base leading-5 flex items-start mb-2 mt-6 ">
                        Activity’s Description :</span>
                    <textarea class="form-control p-2 block w-[590px] h-48 text-base font-normal  bg-clip-padding  GreColor
                        px-4 py-1 shadow-md items-center gap-4 border border-solid border-gray-300 rounded-lg  "
                        [(ngModel)]="activity.description"></textarea>
                    <div class="flex flex-row gap-16 w-[610px] mt-5">
                        <div>
                            <span class=" font-semibold text-base leading-5 text-black "> Start (Optional)
                                :</span>
                        </div>
                        <div>
                            <span class=" font-semibold text-base leading-5 text-black "> End (Optional)
                                :</span>
                        </div>
                    </div>
                    <div class="flex flex-row gap-4 w-[400px]">
                        <p-calendar placeholder="dd/mm/yyyy"
                            class="GreyCal flex outline-none rounded-lg  shadow-md items-start gap-7 h-6 w-[280px] text-xs"
                            [(ngModel)]="activity.startDateActivity"></p-calendar>
                        <p-calendar [timeOnly]="true"
                            class="GreyCal flex outline-none  text-xs rounded-lg  shadow-md items-start gap-4 h-6 w-44"
                            [(ngModel)]="activity.startTimeActivity"
                            inputId="timeonly"></p-calendar>
                        <p-calendar placeholder="dd/mm/yyyy"
                            class="GreyCal flex outline-none rounded-lg  shadow-md items-start gap-7 h-6 w-[280px] text-xs"
                            [(ngModel)]="activity.endDateActivity"></p-calendar>
                        <p-calendar [timeOnly]="true"
                            class="GreyCal flex outline-none  text-xs rounded-lg  shadow-md items-start gap-4 h-6 w-44 "
                            [(ngModel)]="activity.endTimeActivity"></p-calendar>
                    </div>
                   
                  
                    <input type="file" multiple class="opacity-0 pointer-events-none absolute flex flex-col  mt-48
                    rounded-xl bg-white px-4 py-1 shadow-xl items-center gap-4 w-[230px] h-36 justify-center"
                            id="UploadImages" (change)="uploadedFile($event,'Image')" />
                        <div class="flex flex-row gap-5 mt-5">
                            <span class=" font-semibold text-base leading-5 text-black "> Add Photos :</span>
                            <button type="button" (click)="clickFakeUpload('UploadImages')"
                                class="AddButton border-0  w-36 h-7">Add</button>
                        </div>
                    <div class="grid grid-cols-3 gap-4 justify-center ">
                        <div *ngFor="let pic of activity.ActImages;index as i" class="relative  ">
                            <img [src]="pic ? pic.data : 'assets/img/addPhotos.png'"
                                class="mt-5 w-48 h-36 border-2 rounded-3xl" />
                            <button class="absolute p-2 right-0 top-0 mt-4 text-red-500 ">
                                <img src="assets/img/x.png " class="pi pi-times w-4" (click)="deleteImg(i)">
                            </button>
                        </div>
                    </div>
                    <div class="flex flex-row gap-8  ">
                        <button class=" previous-button block w-full px-4 py-2 mt-4 leading-5 text-center"
                            (click)="delete()">
                            Delete
                        </button>
                        <button class=" primary-button block w-full px-4 py-2 mt-4 leading-5 text-center "
                            (click)="closePrompt()">
                            Confirm
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </p-dialog>
</ng-container>