<div class="container mx-auto my-5 p-5">

    <div class="mt-32  ml-72">


        <span class="font-bold text-rose-500 tracking-widest text-2xl leading-10 "> {{lodging.lodgingName}} </span>

    </div>
    <div class=" px-20 ">
        <!--<p-carousel [value]="themes" [autoplayInterval]="6000" [circular]="true" [numVisible]="1" [numScroll]="1">-->
        <p-carousel [value]="themes" [autoplayInterval]="6000" [circular]="true" [numVisible]="1" [numScroll]="1">

            <ng-template let-theme pTemplate="item">
                <div [style]="'background-image:url('+ theme.image +')'"
                    class="mx-10 rounded-xl flex h-[600px] w-[1000px] items-center justify-center bg-black p-4 text-white text-3xl font-bold bg-cover ml-32">
                    <!--{{theme.title}}-->
                </div>
            </ng-template>
        </p-carousel>



        <div class="grid grid-cols-2 gap-8 ">
            <div
                class="justify-center rounded-lg bg-white px-3 h-12 py-3 shadow-md flex items-center gap-0 w-44 border-2  ml-40">


                <span class="  font-bold text-xl text-black-500 ml-1">{{lodging.lodgingType}}</span>
            </div>

            <div
                class="justify-center rounded-lg bg-white px-3 h-12 py-3 shadow-md flex items-center gap-0 w-44 border-2  ">
                <span class="  font-bold text-xl text-black-500 ml-1">{{lodging.lodgingCategory}}</span>
            </div>
        </div>
    </div>




    <div class="md:flex no-wrap md:-mx-2 ">
        <!-- Left Side -->

        <div class="w-full md:w-9/12 md:mx-2 space-y-4">
            <div
                class="relative flex flex-col rounded-lg bg-white p-6 h-[240px] ml-16 shadow-md  gap-0 w-[780px] border-2 my-10 space-y-4">

                <span class="font-bold text-2xl  tracking-widest">About the lodging</span>



                <span class="tracking-wide  text-lg	 text-black-500 "> {{lodging.lodgingDescript}}
                </span>
                <!--{{experience.description}}-->
                <div class="absolute bottom-2 left-6 ">
                    <a class="text-sky-400	 italic hover:underline hover:text-sky-400 font-medium" href="#">Read
                        more</a>
                </div>
            </div>
            <div
            class=" relative flex flex-col rounded-lg bg-white  h-[240px] ml-16 p-6 shadow-md  gap-0 w-[780px] border-2 my-10 space-y-4">

            <span class="font-bold text-2xl  tracking-widest">About the Commercant </span>



            <span class="tracking-wide  text-lg	 text-black-500 ">Lorem ipsum dolor sit amet, consectetur
                adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                magna aliqua. Ut enim adveniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                ea commodo c
                onsequat. Duis aute irure dolor in reprehenderit in velit esse cillum dolore eu fugiat nulla
                pariatu.
            </span>
            <div class="absolute bottom-2 left-6 ">
                <a class=" text-sky-400	 italic hover:underline hover:text-sky-400 font-medium"
                href="#">Read more</a>
            </div>




        </div>
        </div>

        <div class="w-full md:w-4/12 mx-2 h-full">
            <div class=" rounded-lg bg-white shadow max-w-md mx-auto mt-8 mr-4">
                <header class="  p-4 gradient rounded-lg">
                    <h3 class="text-center text-white  text-lg font-bold">{{lodging.pricePerNight}} .DT / Night</h3>
                    <!--{{experience.price}} {{experience.priceUnit}}-->
                </header>
                <form [formGroup]="reserveForm">

                    <section class="p-4">
                        <div class=" mt-2">
                            <div
                                class="ml-16 rounded-lg bg-white p-4 h-12 w-72 py-1 shadow-md flex border-2 items-center gap-4">

                                <img src="assets/img/date.png " class="text-rose-500">
                                <span class=" tracking-widest text-l leading-10  ml-4">Arrival</span>

                                <p-calendar name="start" class="w-full" [showButtonBar]="true" inputId="buttonbar"
                                    [(ngModel)]="arrive" formControlName="arrive">
                                </p-calendar>
                            </div>
                            <div
                                class="ml-16 mt-4 rounded-lg bg-white p-4 h-12 w-72 py-1 shadow-md flex border-2 items-center gap-1">

                                <img src="assets/img/date.png " class="text-rose-500">
                                <span class=" tracking-widest text-l leading-10  ml-4">Departure</span>

                                <p-calendar name="start" class="w-full" [showButtonBar]="true" inputId="buttonbar"
                                    [(ngModel)]="departure" formControlName="departure">
                                </p-calendar>
                            </div>
                            <div
                                class="ml-16 rounded-lg bg-white p-2 h-12 m-2 shadow-md flex mt-4 items-center gap-0 w-72 border-2">

                                <div class="grid grid-cols-3 gap-x-0 justify-between">


                                    <img src="assets/img/PeopleSearch.png" class="text-xl  text-rose-500" alt="">

                                    <div class="rounded-lg bg-white w-32  h-9">
                                        <div class="field md:col-3 mr-[-30px] ">
                                            <p-inputNumber mode="decimal" [showButtons]="true" inputId="minmax-buttons"
                                                suffix=" Client" formControlName="num" name="num" [(ngModel)]="num"
                                                [min]="1" [max]="100">

                                            </p-inputNumber>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- {{dateArrive | date:'yyyy-MM-dd'}}-->
                        </div>
                        <div class="ml-4 mt-2 bg-white h-32 shadow-md  w-96  rounded-lg p-4">
                            <div class="flex justify-start items-center ml-4">
                                <div class="photo-wrapper p-2">
                                    <img class="w-20 h-20 rounded-lg " src={{fruits[0]}} alt="John Doe">
                                </div>
                                <div class="text-black-500  text-sm font-semibold ml-4">
                                    <div class="grid grid-cols-2 gap-4">
                                        <div class=" flex flex-col items-start">
                                            <img src="assets/img/WhenSearch.png"
                                                class="mt-2 flex-row h-6 w-6  pt-0 text-l text-rose-500 md:text-black"
                                                alt="">
                                        </div>
                                        <div class=" flex flex-col items-start">
                                            <span class=" tracking-widest text-l leading-10 "> {{arrive | date: 'MMM d'}}, {{departure | date: 'MMM d, y'}}</span>
                                            <!--{{dateArrive | date: 'MMM d, y'}-->
                                        </div>

                                    </div>


                                    <div class="grid grid-cols-2 gap-4">
                                        <div class=" flex flex-col items-start">
                                            <img src="assets/img/PeopleSearch.png"
                                                class="mt-2 flex-row h-6 w-6  pt-0 text-l  text-rose-500 md:text-black"
                                                alt="">
                                        </div>
                                        <div class=" flex flex-col items-start">
                                            <span *ngIf="num > 1" class=" tracking-widest text-l leading-10  "> {{num}}
                                                clients</span>
                                            <span *ngIf="num == 1" class=" tracking-widest text-l leading-10 "> {{num}}
                                                client</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </form>
             
                <footer class=" justify-center gradient p-2 rounded-lg" *ngIf="Bookme == false" >
                    <button (click)="bookNow()" 
                        class=" uppercase font-bold text-l text-white hover:underline ml-40 ">BOOK NOW !</button>
                    <!---->
                    <p-dialog [(visible)]="display" [modal]="true" [style]="{ width: '40vw' }" [baseZIndex]="10000"
                    [draggable]="false" [resizable]="false">
                    <p class="text-center font-bold text-2xl m-4  tracking-widest">Do you want to confirm
                        your reservation? </p>

                    <div class="flex justify-start items-center ml-4">
                        <div class="photo-wrapper p-2">
                            <img class="w-52 h-40 rounded-lg " src={{fruits[0]}} alt="John Doe">
                        </div>
                        <div class="text-black-500  text-sm font-semibold ml-4">

                            <div class=" flex flex-col items-start">
                                <span class="font-bold  tracking-widest text-l leading-10 "> {{lodging.lodgingName}}
                                </span>
                            </div>
                            <div class=" flex flex-col items-start">
                                <span class="font-bold  tracking-widest text-l leading-10 "> Tunisie,
                                    {{lodging.lodgingAdress}} </span>
                            </div>
                        </div>
                    </div>
                    <div class="text-black-500  text-sm font-semibold ml-4">
                        <div class=" flex flex-col items-start">
                            <span class="font-bold  tracking-widest text-l leading-10 "> </span>
                            <!--{{transport.type}}-->
                        </div>
                        <div class="grid grid-cols-2 gap-4">
                            <div class=" flex flex-col items-start">
                                <img src="assets/img/WhenSearch.png"
                                    class="mt-2 flex-row h-6 w-6  pt-0 text-l text-rose-500 md:text-black" alt="">
                            </div>
                            <div class=" flex flex-col items-start">
                                <span class="font-bold  tracking-widest text-l leading-10 ">{{arrive | date: 'MMM d'}},
                                    {{departure | date: 'MMM d, y'}}</span>
                                <!---->
                            </div>

                        </div>

                        <div class="grid grid-cols-2 gap-4">
                            <div class=" flex flex-col items-start">
                                <i class="fas fa-money-check fa-lg mt-3"></i>
                                <!--<i class="fa-solid fa-money-check-dollar"></i>-->
                            </div>
                            <div class=" flex flex-col items-start">
                                <span class="font-bold  tracking-widest text-l leading-10 "> Total Price :
                                    {{totalPrice}} dt</span>
                            </div>
                        </div>
                    </div>

                    <button type="file" class="primary-button m-8 justify-center ml-32 " id="bouton" [disabled]="totalPrice ==0"> COMPLETE YOUR
                        RESERVATION</button>
                </p-dialog>
                <p-dialog [(visible)]="shouldAuth" [modal]="true" [style]="{ width: '50vw' }" [baseZIndex]="10000"
                    [draggable]="false" [resizable]="false">
                    <ng-template pTemplate="header" class="items-center">
                        <span class=" ml-4  font-bold text-rose-500 tracking-widest text-xl "> You should
                            authenticate first</span>

                    </ng-template>
                    <app-login-users></app-login-users>
                </p-dialog>
                </footer>
            </div>

        </div>
    </div>


</div>